*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(25, 97%, 53%);
  --paragraph-color: hsl(217, 12%, 63%);
  --button-text-color: hsl(216, 12%, 54%);
  --button-bg-color: hsl(213, 19%, 18%);
  --main-bg-color: hsl(216, 12%, 8%);
  --card-bg-color: linear-gradient(hsl(215, 20%, 17%), hsl(215, 24%, 12%));
}

body {
  background: var(--main-bg-color);
  font-family: "Overpass", sans-serif;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

#card {
  margin: 2rem 0;
  max-width: 412px;
  width: 87.2%;
}

/* Hide class to show and hide the different states */
.hide {
  display: none;
}

/* Rating state */
#rating-state {
  background: var(--card-bg-color);
  border-radius: 15px;
  padding: 1.5rem;
}

#rating-state #star-box {
  align-items: center;
  background: var(--button-bg-color);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

#rating-state h1 {
  color: white;
  margin: 1rem 0 0.625rem 0;
}

#rating-state p {
  color: var(--paragraph-color);
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}

/* Rating form */
form #radio-btn-group {
  display: flex;
  justify-content: space-between;
}

form #radio-btn-group span {
  align-items: center;
  background: var(--button-bg-color);
  border-radius: 50%;
  color: var(--button-text-color);
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  height: 42px;
  justify-content: center;
  transition: all 200ms ease-in-out;
  width: 42px;
}

form #radio-btn-group span:hover {
  background: var(--button-text-color);
  color: white;
  cursor: pointer;
}

form #radio-btn-group input:checked + span {
  background: var(--primary-color);
  color: white;
}

form #radio-btn-group .radio-btn {
  display: none;
}

form #submit-btn {
  background: var(--primary-color);
  border: none;
  border-radius: 22.5px;
  color: white;
  display: block;
  font-weight: 700;
  letter-spacing: 1.87px;
  margin-top: 1.5rem;
  padding: 0.75rem 0;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  width: 100%;
}

form #submit-btn:hover {
  background: white;
  color: var(--primary-color);
  cursor: pointer;
}

/* Thank you state */
#thank-you-state {
  text-align: center;
  border-radius: 15px;
  padding: 2.8125rem 2rem;
}

#thank-you-state #rating-display {
  background: var(--button-bg-color);
  border-radius: 22.5px;
  color: var(--primary-color);
  display: table;
  margin: 1.5rem auto;
  padding: 0.5rem 1.25rem;
}

#thank-you-state h1 {
  color: white;
}

#thank-you-state p {
  color: var(--paragraph-color);
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 0.625rem;
}

@media (min-width: 470px) {
  /* Rating state */
  #rating-state {
    padding: 2rem;
  }

  #rating-state #star-box {
    height: 48px;
    width: 48px;
  }

  #rating-state h1 {
    margin: 1.875rem 0 0.4375rem 0;
  }

  #rating-state p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  /* Rating form */
  form #radio-btn-group span {
    font-size: 1rem;
    height: 51px;
    width: 51px;
  }

  form #submit-btn {
    font-size: 0.9375rem;
    margin-top: 2rem;
  }

  /* Thank you state */
  #thank-you-state {
    background: var(--card-bg-color);
  }

  #thank-you-state #rating-display {
    margin: 2rem auto;
  }

  #thank-you-state h1 {
    font-size: 1.75rem;
  }

  #thank-you-state p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    margin-top: 0.4375rem;
  }
}
