*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(25, 97%, 53%);
  --paragraph-color: hsl(217, 12%, 63%);
  --button-text-color: hsl(216, 12%, 54%);
  --button-bg-color: hsl(213, 19%, 18%);
  --main-bg-color: hsl(216, 12%, 8%);
  --card-bg-color: linear-gradient(hsl(215, 20%, 17%), hsl(215, 24%, 12%));
}

body {
  font-family: "Overpass", sans-serif;
}
